html,body {
	background-color:#222;
	height:100%;
	margin:0px;
	font: 16px/24px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
h1 {
	font: 48px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-family: 'Quicksand', sans-serif;
	color:white;
	text-align:center;
}

p {
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-family: 'Quicksand', sans-serif;
	color:white;
	text-align:center;
}

h1 {
	margin-top: 3%;
}
/*p {
	margin-top: 30%;
	max-width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}*/
a {
		color:white;
		font-family: 'Quicksand', sans-serif;
}
.linkNoULine {
 	text-decoration: none;
 	font-weight: lighter
}
/* unvisited link */
a:link {
	font-family: 'Quicksand', sans-serif;
	font-size:1.2em !important;
    color: white;
    text-decoration: none;
}
/* visited link */
a:visited {
	font-family: 'Quicksand', sans-serif;
	font-size:1.2em !important;
    color: white;
}
/* mouse over link */
a:hover {
	font-family: 'Quicksand', sans-serif;
	font-size:1.2em !important;
    color: white;
    text-decoration: underline;
}
/* selected link */
a:active {
	font-family: 'Quicksand', sans-serif;
	font-size:1.2em !important;
    color: white;
}

#earth {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
/* TOP RIGHT */
#bubble1 {
	position : fixed;
	left: 55%;
	top: 15%;
}
/* TOP LEFT */
#bubble2 {
	position : fixed;
	left: 7%;
	top: 20%;
}
/* BOTTOM RIGHT */
#bubble3 {
	position : fixed;
	left: 50%;
	top: 65%;
}
/* BOTTOM LEFT */
#bubble4 {
	position : fixed;
	left: 12%;
	top: 60%;
}


/* ------------------------------------------
PURE CSS SPEECH BUBBLES
by Nicolas Gallagher
- http://nicolasgallagher.com/pure-css-speech-bubbles/

http://nicolasgallagher.com
http://twitter.com/necolas

Created: 02 March 2010
Version: 1.2 (03 March 2011)

Dual licensed under MIT and GNU GPLv2 Nicolas Gallagher
------------------------------------------ */

/* NOTE: Some declarations use longhand notation so that it can be clearly
explained what specific properties or values do and what their relationship
is to other properties or values in creating the effect */

/* ============================================================================================================================
== GENERAL STYLES
** ============================================================================================================================ */

#container {
  width:500px;
  padding:0 0 50px;
  margin:0 auto;
}

h2 {
  margin:0.5em 0 1.5em;
  font-size:1.25em;
  font-weight:normal;
  font-style:italic;
  text-align:center;
}

p {
  margin:1em 0;
}

.content h2 {
  margin:2em 0 0.75em;
  font-size:2em;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}

blockquote {
  margin:1em 0;
}

blockquote p {
  margin:0;
  font-size:1.2em;
}

.follow {
  clear:both;
  margin-top:2em;
  font-size:1.125em;
}

.follow span {
  font-weight:bold;
}


/*
 Should you want to set a background colour on a containing element
 certain types of bubble effect may require you to include these
 style declarations.
 */
.content {
  position:relative;
  z-index:1;
}



/* ============================================================================================================================
== OVAL SPEECH BUBBLE, EMPTY, WITH BORDER (more CSS3) || TOP RIGHT ( BUBBLE 1 )
** ============================================================================================================================ */

.oval-speech-border-bl {
  position:relative;
  padding:70px 30px;
  margin:1em auto 60px;
  border:5px solid #ffffff;
  text-align:center;
  color:#333;
  background:#222;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}

/* creates larger curve */
.oval-speech-border-bl:before {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-40px;
  right:56.5%;
  width:50px;
  height:30px;
  border-style:solid;
  border-width:0 5px 5px 0;
  border-color:#ffffff;
  margin-right:-10px;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:80px 50px;
  -moz-border-radius-bottomright:80px 50px;
  border-bottom-right-radius:80px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates smaller curve */
.oval-speech-border-bl:after {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-40px;
  right:57.8%;
  width:20px;
  height:35px;
  border-style:solid;
  border-width:0 5px 5px 0;
  border-color:#ffffff;
  margin-right:20px;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:40px 55px;
  -moz-border-radius-bottomright:40px 55px;
  border-bottom-right-radius:40px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.oval-speech-border-bl > :first-child:before {
  content:"";
  position:absolute;
  z-index:1;
  bottom:-40px;
  right:56%;
  width:5px;
  height:5px;
  margin-right:45px;
  background:#ffffff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.oval-speech-border-bl > :first-child:after {
  content:"";
  position:absolute;
  z-index:1;
  bottom:-10px;
  right:55%;
  width:30px;
  height:15px;
  background:#222;
}

/* ============================================================================================================================
== OVAL SPEECH BUBBLE, EMPTY, WITH BORDER (more CSS3) || TOP LEFT ( BUBBLE 2 )
** ============================================================================================================================ */

.oval-speech-border-br {
  position:relative;
  padding:70px 30px;
  margin:1em auto 60px;
  border:5px solid #ffffff;
  text-align:center;
  color:#333;
  background:#222;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}

/* creates larger curve */
.oval-speech-border-br:before {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-37px;
  right:42%;
  width:50px;
  height:32px;
  border-style:solid;
  border-width: 0 0 5px 5px;
  border-color:#ffffff;
  margin-right: 10px;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-left-radius:80px 50px;
  -moz-border-radius-bottomleft:80px 50px;
  border-bottom-left-radius:80px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates smaller curve */
.oval-speech-border-br:after {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-37px;
  right:49%;
  width:20px;
  height:31px;
  border-style:solid;
  border-width:0 0 5px 5px;
  border-color:#ffffff;
  margin-right:-20px;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-left-radius:40px 50px;
  -moz-border-radius-bottomleft:40px 50px;
  border-bottom-left-radius:40px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.oval-speech-border-br > :first-child:before {
  content:"";
  position:absolute;
  z-index:1;
  bottom:-37px;
  right:34%;
  width:5px;
  height:5px;
  margin-right:45px;
  background:#ffffff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.oval-speech-border-br > :first-child:after {
  content:"";
  position:absolute;
  z-index:1;
  bottom:-10px;
  right:50%;
  width:30px;
  height:15px;
  background:#222;
}

/* ============================================================================================================================
== OVAL SPEECH BUBBLE, EMPTY, WITH BORDER (more CSS3) || BOTTOM RIGHT ( BUBBLE 3 )
** ============================================================================================================================ */

.oval-speech-border-tl {
  position:relative;
  padding:70px 30px;
  margin:1em auto 60px;
  border:5px solid #ffffff;
  text-align:center;
  color:#333;
  background:#222;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}

/* creates larger curve */
.oval-speech-border-tl:before {
  content:"";
  position:absolute;
  z-index:2;
  top:-40px;
  right:43.5%;
  width:50px;
  height:32px;
  border-style:solid;
  border-width:5px 5px 0 0;
  border-color:#ffffff;
  margin-right:-10px;
  background:transparent;
  /* css3 */
  -webkit-border-top-right-radius:80px 50px;
  -moz-border-radius-topright:80px 50px;
  border-top-right-radius:80px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates smaller curve */
.oval-speech-border-tl:after {
  content:"";
  position:absolute;
  z-index:2;
  top:-40px;
  right:44.8%;
  width:20px;
  height:31px;
  border-style:solid;
  border-width:5px 5px 0 0;
  border-color:#ffffff;
  margin-right:20px;
  background:transparent;
  /* css3 */
  -webkit-border-top-right-radius:40px 50px;
  -moz-border-radius-topright:40px 50px;
  border-bottom-top-radius:40px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.oval-speech-border-tl > :first-child:before {
  content:"";
  position:absolute;
  z-index:1;
  top:-40px;
  right:43%;
  width:5px;
  height:5px;
  margin-right:45px;
  background:#ffffff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.oval-speech-border-tl > :first-child:after {
  content:"";
  position:absolute;
  z-index:1;
  top:-10px;
  right:42%;
  width:30px;
  height:15px;
  background:#222;
}

/* ============================================================================================================================
== OVER SPEECH BUBBLE, EMPTY, WITH BORDER (more CSS3) || BOTTOM LEFT ( BUBBLE 4 )
** ============================================================================================================================ */

.oval-speech-border-tr {
  position:relative;
  padding:70px 30px;
  margin:1em auto 60px;
  border:5px solid #ffffff;
  text-align:center;
  color:#333;
  background:#222;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}

/* creates larger curve */
.oval-speech-border-tr:before {
  content:"";
  position:absolute;
  z-index:2;
  top:-40px;
  right:34.5%;
  width:50px;
  height:30px;
  border-style:solid;
  border-width: 5px 0 0 5px;
  border-color:#ffffff;
  margin-right: 10px;
  background:transparent;
  /* css3 */
  -webkit-border-top-left-radius:80px 50px;
  -moz-border-radius-topleft:80px 50px;
  border-top-left-radius:80px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates smaller curve */
.oval-speech-border-tr:after {
  content:"";
  position:absolute;
  z-index:2;
  top:-40px;
  right:39.8%;
  width:20px;
  height:31px;
  border-style:solid;
  border-width:5px 0 0 5px;
  border-color:#ffffff;
  margin-right:-20px;
  background:transparent;
  /* css3 */
  -webkit-border-top-left-radius:40px 50px;
  -moz-border-radius-topleft:40px 50px;
  border-top-left-radius:40px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.oval-speech-border-tr > :first-child:before {
  content:"";
  position:absolute;
  z-index:1;
  top:-40px;
  right:27%;
  width:5px;
  height:5px;
  margin-right:45px;
  background:#ffffff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.oval-speech-border-tr > :first-child:after {
  content:"";
  position:absolute;
  z-index:1;
  top:-10px;
  right:41%;
  width:30px;
  height:15px;
  background:#222;
}
